*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    
    height:100%;
    width: 100%;

}
.nav{
    font-size: 11px;
    height: 10%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
    padding: 20px;
    background-color: rgb(41, 39, 39);
   
}

.logo{
 
    height: 100%;
    width: 100%;
 text-align: center;
    
background-position: center;
background-size: cover;
background-repeat: no-repeat;
   overflow: hidden;
    background-image: url(https://www.apple.com/v/home/ci/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large.jpg);
    
}
.nav,h4{
    font-size: 20px;
    font-weight: 200;
    color: rgb(230, 214, 214);
}
h1{
    margin-top: 10px;
    color: rgb(223, 214, 197);
    font-size: 40px;
}
.logo h4{
    margin-top: 20px;
    font-size: 20px;
    margin-top: 10px;
}
button{
padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    /* width: 8%; */
    background-color: rgb(71, 71, 192);
    color: white;
    /* gap: 10px; */
    margin-top: 20px;
 

    
    
}